.task {
  width: 100%;
  background: #87CEFA;
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  alignt-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.task p {
  font-size: 0.875rem;
  line-height: 1.18rem;
  color: white;
  margin-right: auto;
}

.check {
  min-width: 1.125rem;
  height: 1.125rem;
  background: none;
  border: none;
}

.check div {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 50%;
}

.deleteButton {
  background: none;
  border: none;
  color: white;
}

.check svg {
  width: 100%;
  width: 100%;
  color: white;
}