.header {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5rem;
  position: relative;
}

.newTaskForm {
  position: absolute;
  height: 3.375rem;
  bottom: calc(-3.375rem / 2);
  width: 100%;
  max-width: 46rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
}

.newTaskForm input {
  height: 100%;
  flex: 1;
  border: solid  #87CEFA;
  border-radius: 0.5rem;
  padding: 0 1rem;
}

.newTaskForm button {
  height: 100%;
  padding: 0 1rem;
  background: #87CEFA;
  color: gray;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  
}